{% extends 'base.html.twig' %}

 {% block page_title %}
     <title>
         {% if utilisateur is not null %}
            Page de {{ utilisateur.login }}
         {% else %}
             Page inexistante
         {% endif %}
     </title>
 {% endblock %}

 {% block page_content %}
     <main>
         <div class="center">
             <p id="titre-page-perso">
                 {% if utilisateur is not null %}
                     Page de {{ utilisateur.login }}
                 {% endif %}</p>
         </div>
         <div id="feed">
             {% if utilisateur is not null %}
                 {% set publications = utilisateur.getPublications %}
                 {% for publication in publications %}
                     {{ include('/publication/publication.html.twig') }}
                 {% endfor %}
             {% endif %}
         </div>
     </main>
 {% endblock %}